[submodule "automatic_birthday_card_sender"]
	path = automatic_birthday_card_sender
	url = https://github.com/cevi/automatic_birthday_card_sender
[submodule "qr-code-generator"]
	path = qr-code-generator
	url = https://github.com/cevi/qr-code-generator
[submodule "notfall-app"]
	path = notfall-app
	url = https://github.com/cevi/notfall-app.git
[submodule "event-viewer"]
	path = event-viewer
	url = https://github.com/cevi/event-viewer
[submodule "event-overview-cevidb"]
	path = event-overview-cevidb
	url = https://github.com/cevi/event-overview-cevidb
